{% extends 'basicapp/basicbase.html' %}

{% block content %}

    <div class="jumbotron">
        <h1>Wlecome to the school detail page</h1>
        <h2>School Details</h2>
        <p>Name: {{ school_detail.name }}</p>
        <p>Principal: {{ school_detail.principal }}</p>
        <p>Location: {{ school_detail.location }}</p>
        <h3>Students:</h3>
        {% for student in school_detail.students.all %}
            <p>{{ student.name }} who is {{ student.age }} years old.</p>
        {% endfor %}
        
    </div>
    <div class="container">
        <a class="btn btn-warning" href="{% url 'update' pk=school_detail.pk %}">Update</a>
        <a class="btn btn-danger" href="{% url 'delete' pk=school_detail.pk %}">Delete</a>
    </div>
        
{% endblock content %}