<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Test</title>
    <link rel="stylesheet" href="{% static "first_app/files/main.css" %}"/>
</head>
<body>
    <h1>Hi, welcome to django level two</h1>
    <h2>Here are your access records</h2>

    <div class="djtwo">
        {% if userinfo %} 
            {% comment %} <table>
                <thead>
                <th>User Name</th>
                <th>User Email</th>
                </thead> {% endcomment %}

                <ol>
                {% for person in userinfo %}
                    <li>{{ person }}
                    <ul>
                        <li>First: {{ person.first }}</li>
                        <li>Last: {{ person.last }}</li>
                        <li>Email: {{ person.email }}</li>
                    </ul>
                    </li>
                    {% comment %} <tr>
                        <td>{{ person.first }} {{ person.last }}</td>
                        <td>{{ person.email }}</td>
                    </tr> {% endcomment %}
                {% endfor %}
                </ol>
            {% comment %} </table> {% endcomment %}
        {% else %}
            <p>No users found.</p>
        {% endif %}
    </div>
</body>
</html>